body {
  background-image: url("https://i.redd.it/nature-wallpaper-3840x2160-v0-j48edn2dcpsa1.jpg?s=a328e09db510d621f844cae4e35ba134ca6ef859");
  background-repeat: no-repeat;
  background-size: cover;
}
